iframe {
    height: 100vh;
    width: 100vw;
    filter: brightness(65%);
}

header.navbar {
    background-color: #292929 !important;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}
